.circle{
    background-color: #8AB6CB;
    color:white;
    border-radius: 50%;
    width:80px;
    height:80px;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.example{
    width: 1482px; 
}
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.arrow{
    transform: translatey(0px);
	animation: float-up-down 6s ease-in-out infinite;
}
@keyframes float-up-down {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
#howAppyardWorks{
    color:white!important
}

